#cal {
		background-color: #F5F5DC;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
}
.footer-info h2 {
	font-size: 1.5rem;
}
.footer p {
	font-size: 1rem;
}
.social-icons h3 {
	font-size: 1.5rem;
}
.social-icons a {
	text-decoration: none;
	color: #fff;
}
.social-icons img {
	padding-left: 10px;
}
section {
	background-color: #333;
	padding: 20px;
	border: 1px solid #ccc;
	text-align: center;
}
.about-me {
	background-color: white;

}